.block {
  display: block; }

.logo {
  color: red; }

.gray-text {
  color: rgba(0, 0, 0, 0.5); }

.hidden {
  display: none;
  visibility: hidden; }

.inline {
  padding: 5px; }

* {
  margin: 0;
  padding: 0; }

body {
  line-height: 1.6;
  background: #fff; }

a {
  text-decoration: none;
  color: #333; }

ul {
  list-style: none; }

h2,
h3,
h4 {
  text-transform: uppercase; }

img {
  width: 100%; }

body {
  line-height: 1.5; }

.nav {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
  border-bottom: 0.2px dotted rgba(0, 0, 0, 0.3); }
  .nav h1 a {
    flex-grow: 1;
    margin: 0 30px;
    flex-shrink: 0;
    padding: 5px 10px;
    flex-grow: 2; }
  .nav .nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    align-content: flex-start; }
    .nav .nav-menu li {
      padding-right: 10px; }
      .nav .nav-menu li a {
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        font-size: 1.1rem;
        transition: all 0.2s;
        padding: 23.5px 0; }
      .nav .nav-menu li a:hover {
        border-bottom: 3px solid red;
        border-radius: 1px;
        color: red; }
  .nav .nav-right {
    flex-grow: 1; }
    .nav .nav-right div {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-self: flex-start;
      margin: 40px;
      flex-shrink: 0; }
      .nav .nav-right div ul {
        padding: inherit;
        display: flex;
        flex-direction: row; }
        .nav .nav-right div ul li a {
          color: red; }
        .nav .nav-right div ul li a:hover {
          color: #c30a0a; }
        .nav .nav-right div ul li:first-child {
          padding-right: 18px; }

.home {
  background-color: #333; }
  .home .home-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    z-index: 5;
    color: #fff; }
  .home .home-content::before {
    content: "";
    background: url("https://source.unsplash.com/1600x900/?nature,water") no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1; }
  .home h1 {
    font-size: 2.5rem;
    text-shadow: 0.2rem 0.2rem 1rem steelblue; }
  .home p {
    margin: 12px 0; }
  .home .search-fild {
    border: 0px solid;
    background-color: #fff; }
    .home .search-fild input:first-child {
      border-right: #333 1px solid; }
    .home .search-fild input {
      padding: 10px;
      border: none; }
    .home .search-fild input:focus {
      outline: none; }
    .home .search-fild input[type="submit"] {
      background-color: red;
      color: #fff;
      font-size: 1.2em; }

.testimonials {
  display: grid;
  grid-template-columns: repeat(4, 1fr); }
  .testimonials .testimonial {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    height: 400px;
    min-width: 250px;
    margin: 20px;
    border-radius: 5px;
    flex-shrink: 0;
    overflow: hidden; }
    .testimonials .testimonial img {
      height: 50%;
      width: 100%;
      border-top-left-radius: inherit;
      border-top-right-radius: inherit; }
    .testimonials .testimonial .testimonial-content {
      display: flex;
      flex-direction: column;
      text-align: left;
      align-items: left;
      justify-content: center;
      height: 100%;
      padding: 10px; }
  .testimonials .testimonial:hover {
    transform: scale(1.01);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3), -10px -10px 20px rgba(0, 0, 0, 0.3); }

.app-listing-content {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .app-listing-content .btn-categories {
    border: 1px solid #333;
    border-radius: 3px;
    padding: 8px 20px;
    margin: 10px 5px;
    background-color: #f4f4f4; }
  .app-listing-content .btn-categories:hover {
    transform: scale(1.02);
    background-color: rgba(0, 0, 0, 0.1); }

.forms {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #f4f4f4;
  height: 100;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-items: center;
  margin: auto; }
  .forms .nav-login-page {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-size: 22px;
    height: 70px; }
    .forms .nav-login-page .text-bold {
      font-weight: bold; }
  .forms .form-container {
    overflow: hidden;
    max-width: 833px;
    background-color: #fff;
    height: 733px;
    display: grid;
    grid-template-columns: 1.3fr 2fr;
    margin: 5px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif; }
    .forms .form-container .form-side-img {
      height: 100%;
      width: 100%;
      background-color: #333; }
      .forms .form-container .form-side-img img {
        height: 100;
        width: 100; }
      .forms .form-container .form-side-img h2 {
        margin: auto auto;
        text-shadow: 3px 3px 5px #fff; }
    .forms .form-container form {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 60px 80px; }
      .forms .form-container form h4,
      .forms .form-container form h3 {
        text-transform: none; }
      .forms .form-container form .sign-up-free {
        color: red; }
      .forms .form-container form .btn {
        width: 100%;
        padding: 12px 0;
        align-self: center;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 8px;
        margin: 4px 0;
        background-color: #fff;
        font-size: 17px; }
      .forms .form-container form input {
        padding: 12px 0;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
      .forms .form-container form input:focus {
        outline: none; }
      .forms .form-container form .flex-row {
        display: grid;
        grid-template-areas: ".input-location" ".country" ".event-date" ".mobile-number" ".category" ".category"; }
      .forms .form-container form .input-location,
      .forms .form-container form .country,
      .forms .form-container form .event-date,
      .forms .form-container form .mobile-number {
        margin: 10px 5px; }
      .forms .form-container form button[type="submit"] {
        margin: 15px 0;
        background-color: red;
        color: #fff;
        border: none;
        font-weight: bold; }
      .forms .form-container form a:hover {
        color: red; }

.footer-of-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .footer-of-form a {
    margin-right: 5px;
    color: rgba(0, 0, 0, 0.5); }
    .footer-of-form a:hover {
      color: red; }
  .footer-of-form p {
    color: rgba(0, 0, 0, 0.5); }
